*{
    box-sizing: border-box;
    
}

html {
    width: 10px;
    
}

body {
    max-width: 90rem;
    max-height: 60rem;
    height:60rem;
    background: linear-gradient(rgb(131, 217, 223), rgba(150, 255, 238, 0.836));
    overflow: hidden;
}

.quadrato {

    position: relative;
    width: 20rem;
    height: 20rem;
    border: none;
    border-top: none;
    border-right: none;
    z-index: -1;

}

.triangolo {

    transform-origin: 0% 0%;
    width: 28rem;
    height: 14rem;
    transform: rotate(45deg);
    border: none;
    background: radial-gradient(rgba(165, 250, 229, 0.781), rgb(78, 235, 235), rgba(144, 238, 255, 0.705));
    z-index: -1;
    margin-left: -0.5rem;
   


}

.rettangolo {

    position: absolute;
    width: 10rem;
    height: 20rem;
    border: none;
    translate: 20rem -22rem;
    transform: rotate(-45deg);
    background: radial-gradient(rgba(165, 250, 229, 0.781), rgb(78, 235, 235), rgba(144, 238, 255, 0.705));
    z-index: -3;
    margin-left: -0.5rem;


    
   



}

.basement {
    position: relative;
    width: 90rem;
    height: 10rem;
    border: none;
    background: linear-gradient(rgba(71, 187, 255, 0.918), rgb(123, 251, 255));
    z-index: 2;
    margin-left: -1rem;
   
}

.sole {

    position: absolute;
    top: -4rem;
    left: 80rem;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    transform-origin: 0% 0%;
    background-color: yellow;
    
    

}

.penguin-head {
    position: absolute;
    top: 6rem;
    left: 36rem;
    width: 8rem;
    height: 6rem;
    border: 2px solid black;
    border-radius: 50%;
    background-color: darkslategray;
    

}

.penguin-face {
    position: absolute;
    top: 0.5rem;
    left: 0.74rem;
    width: 6rem;
    height: 4rem;
    border: 2px solid black;
    border-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-top: 0;
    background-color: azure;
}



.ellisse-sx {

    position: absolute;
    top: 0.8rem;
    left: 1.5rem;
    width: 3rem;
    height: 2rem;
    border: 2px solid black;
    border-radius: 50%;
    border-top-right-radius: 2px solid black;
    border-top-left-radius: 34%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-left: 0;
    border-bottom: 0;
    background-color: azure;



}


.ellisse-dx {

    position: absolute;
    top: 0.8rem;
    left: 3.5rem;
    width: 2.8rem;
    height: 2rem;
    border: 2px solid black;
    border-radius: 50%;
    border-top-left-radius: 2px solid black;
    border-top-right-radius: 65%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    background-color: azure;


    

}



.penguin-body {
    position: absolute;
    top: 10rem;
    left: 35rem;
    width: 10rem;
    height: 9rem;
    border: 2px solid black;
    border-radius: 50%;
    background-color: white;
    z-index: 1;
}

.penguin-sx-foot {
    position: absolute; 
    top: 18rem;
    left: 35rem;
    width: 3rem;
    height: 2rem;
    border: 2px solid black;
    border-radius: 50%;
    transform: rotate(-25deg);
    background-color: orange;
}

.penguin-dx-foot {
    position: absolute; 
    top: 18rem;
    left: 42em;
    width: 3rem;
    height: 2rem;
    border: 2px solid black;
    border-radius: 50%;
    transform: rotate(25deg);
    background-color: orange;


}

.penguin-dx-arm {
    position: absolute; 
    top: 10rem;
    left: 42em;
    width: 2rem;
    height: 5rem;
    border: 2px solid black;
    border-radius: 50%;
    transform: rotate(-60deg)  translate(1rem, 0);
    background-color: darkslategray;

}



.occhio-sx {
    position: absolute; 
    top: 1.5rem;
    left: 1.8rem;
    width: 1rem;
    height: 1.2rem;
    border: 2px solid black;
    border-radius: 50%;
    transform: rotate(90deg);
    border-right: 0;
    background-color: black;
    z-index: 2;
}

.occhio-dx {
    position: absolute; 
    top: 1.5rem;
    left: 4.8rem;
    width: 1rem;
    height: 1.2rem;
    border: 2px solid black;
    border-radius: 50%;
    transform: rotate(-90deg);
    border-left: 0;
    background-color: black;
    z-index: 2;


}

.occhio-sx-2 {
    position: absolute; 
    top: -0.15rem;
    left: 0.1rem;
    width: 1rem;
    height: 1.2rem;
    border-left: 2px solid black;
    border-radius: 50%;
    background-color: #ffffff;
    z-index: 1;
}

.occhio-dx-2 {
    position: absolute; 
    top: -0.15rem;
    left: -0.25rem;
    width: 1rem;
    height: 1.2rem;
    border-right: 2px solid black;
    border-radius: 50%;
    background-color: white;
    z-index: 1;


}

.naso {
    position: absolute; 
    top: 8.5rem;
    left: 39rem;
    width: 1.8rem;
    height: 1.0rem;
    border:0;
    border-radius: 50%;
    transform: rotate(180deg);
    background-color: orange;
    z-index: 2;
}

.bocca{
    position: absolute; 
    top: 9rem;
    left: 39.1rem;
    width: 1.5rem;
    height: 0.8rem;
    border: 0;
    border-radius: 50%;
    transform: rotate(180deg);
    background-color: orange;
    z-index: 2;

}

.guancia-sx {
    position: absolute; 
    top: 9rem;
    left: 37.5rem;
    width: 1.0rem;
    height: 0.5rem;
    border: 2px solid black;
    border-radius: 50%;
    transform: rotate(180deg);
    background-color: pink;
    z-index: 2;

}

.guancia-dx {
    position: absolute; 
    top: 9rem;
    left: 41rem;
    width: 1.0rem;
    height: 0.5rem;
    border: 2px solid black;
    border-radius: 50%;
    transform: rotate(180deg);
    background-color: pink;
    z-index: 2;


}

.penguin {

    position: absolute;
    top: 3rem;
    left: 2rem;
    z-index: 3;
}


  
  .penguin-sx-arm {
    position: absolute; 
    top: 8rem;
    left: 35rem;
    width: 2rem;
    height: 5rem;
    border: 2px solid black;
    border-radius: 50%;
    background-color: darkslategray;
    transform: rotate(130deg) scaleX(-1);
    animation: 3s linear infinite wave;
}
  
 @keyframes wave {
  10% {
    transform: rotate(110deg) scaleX(-1);
  }
  20% {
    transform: rotate(130deg) scaleX(-1);
  }
  30% {
    transform: rotate(110deg) scaleX(-1);
  }
  40% {
    transform: rotate(130deg) scaleX(-1);
  }
}







